[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-numbertoggle"]
	path = bundle/vim-numbertoggle
	url = http://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/vim-syntastic/syntastic.git
[submodule "bundle/zeavim.vim"]
	path = bundle/zeavim.vim
	url = https://github.com/KabbAmine/zeavim.vim.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/gtrlp.vim"]
	path = bundle/gtrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/verilog_systemverilog"]
	path = bundle/verilog_systemverilog
	url = http://github.com/vhda/verilog_systemverilog.vim
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = http://github.com/dense-analysis/ale.git
